{% extends '@TheNextCore/inc/base_mini.html.twig' %}

{% form_theme form '@TheNextCore/Company/form/register_fields.html.twig' %}

{% block title %}{{ "Account-activatie"|trans }}{% endblock %}

{% block content %}
    <h3>{{ "Welkom bij"|trans }} {{ site_name }}</h3>
    <p>
        {% trans %}
            Controleer a.u.b. onderstaande gegevens, en maak indien nodig een aanpassing.
        {% endtrans %}
    </p>
    <p>
        {% trans %}
            U moet een nieuw wachtwoord instellen. Samen met uw e-mail adres zijn dit uw logingegevens. Bewaar deze dus goed.
        {% endtrans %}
    </p>
    <form class="m-t" role="form" action="" method="post">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </form>
{% endblock %}