{% extends '@TheNextCore/inc/base_mini.html.twig' %}

{% form_theme form '@TheNextCore/Company/form/register_fields.html.twig' %}

{% block title %}{{ "Wachtwoord aanpassen"|trans }}{% endblock %}

{% block content %}
    <h3>{{ "Wachtwoord aanpassen"|trans }}</h3>
    <form class="m-t" role="form" action="" method="post">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </form>
    <a onclick="history.back()">{{ "Terug"|trans }}</a>
{% endblock %}
