{% extends '@TheNextCore/inc/base_mini.html.twig' %}

{% block title %}Login{% endblock %}

{% block content %}
    <h3>{{ "Welkom bij"|trans }} {{ site_name }}</h3>
    <form class="m-t" role="form" action="{{ path('login_check') }}" method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
        <div class="form-group">
            <input type="email" class="form-control" name="_username" placeholder="E-mail" required="{{ last_username }}">
        </div>
        <div class="form-group">
            <input type="password" class="form-control" name="_password" placeholder="Wachtwoord" required="">
        </div>
        <button type="submit" class="btn btn-primary block full-width m-b">Login</button>

        <a href="{{ path('reset_password_start') }}"><small>{{ "Wachtwoord vergeten?"|trans }}</small></a>
        <p class="text-muted text-center"><small>{{ "Nog geen account?"|trans }}</small></p>
        <a class="btn btn-sm btn-white btn-block" href="{{ path("register") }}">{{ "Maak een account"|trans }}</a>
    </form>
{% endblock %}
