{% extends '@TheNextCore/inc/base_mini.html.twig' %}

{% form_theme form '@TheNextCore/Company/form/register_fields.html.twig' %}

{% block title %}{{ "Registreren"|trans }}{% endblock %}

{% block content %}
    <h3>{{ "Welkom bij"|trans }} {{ site_name }}</h3>
    <form class="m-t" role="form" action="{{ path('register') }}" method="post">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}

        <a class="btn btn-sm btn-white btn-block" href="{{ path('login') }}">{{ "Terug naar login"|trans }}</a>
    </form>
{% endblock %}