{% extends '@TheNextCore/inc/base_mini.html.twig' %}

{% form_theme form '@TheNextCore/Company/form/register_fields.html.twig' %}

{% block title %}{{ 'reset_password'|trans }}{% endblock %}

{% block content %}
    <h3>{{ 'reset_password'|trans }}</h3>
    <form class="m-t" role="form" action="" method="post">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </form>
{% endblock %}