{% extends '@TheNextCore/inc/base_mini.html.twig' %}

{% block title %}{{ 'reset_password'|trans }}{% endblock %}

{% block content %}
    <h3>{{ 'reset_password'|trans }}</h3>
    <p>
        {{ 'reset_password_success'|trans }}
    </p>
{% endblock %}