<!DOCTYPE html>
<html>
    <head>
        Doorsturen
    </head>
    <body>
        <form action="{{ url }}" method="post" name="passthrough">
            {% for key, value in data %}
                <input type="hidden" name="{{ key }}" value="{{ value }}">
            {% endfor %}

            <input type="submit" value="Doorgaan" style="display: none;" />

            <noscript>
                <!-- User can click this button manually to be redirected if JavaScript is turned off -->
                <input type="submit" value="Doorgaan" />
            </noscript>
        </form>

        <script type="text/javascript">
            window.onload = function () {
                document.forms['passthrough'].submit()
            };
        </script>
    </body>
</html>