{% use "@TheNextCore/Company/form/fields.html.twig" %}

{% extends '@TheNextCore/inc/base_dashboard.html.twig' %}

{% block content %}
    <div class="ibox">
        <div class="ibox-title">
            <h5>{% block ibox_title %}{{ block('title') }}{% endblock %}</h5>
        </div>
        <div class="ibox-content">
            {% block extra_info %}
            {% endblock %}

            {{ form_start(form) }}
            {{ form_widget(form) }}

            <button type="submit" class="btn btn-primary">
                {% block submit %}{{ "forms.save"|trans }}{% endblock %}
            </button>

            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}