{% extends '@TheNextCore/inc/inspinia_base.html.twig' %}

{% if app.request.attributes.get('_route_params')['company_id'] is defined %}
	{% set mainMenu = knp_menu_get('main', [], { company_id: app.request.attributes.get('_route_params')['company_id'] }) %}
{% else %}
	{% set mainMenu = knp_menu_get('main', [], { company_id: 1 }) %}
{% endif %}

{% block title %}
	{{ knp_menu_get_current_item(mainMenu).label }}
{% endblock %}

{% use '@TheNextCore/inc/base_dashboard_body.html.twig' %}