{% extends '@TheNextCore/inc/inspinia_base.html.twig' %}

{% block body_tags %}
    class="gray-bg"
{% endblock %}

{% block body %}
    <div class="middle-box text-center loginscreen animated fadeInDown"
         style="width: {% block content_width %}{% endblock %}px; max-width: {{ block('content_width') }}px; position: relative;">
        <div>
            <div>
                <img src="{{ asset(site_logo_asset) }}" style="width: 100%;"/>
            </div>
            {% block content %}

            {% endblock %}
            <p class="m-t"> <small>{{ site_name }} &copy; 2016</small> </p>
        </div>
    </div>
{% endblock %}