{% block body %}
<div id="wrapper">
    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav metismenu" id="side-menu">
                <li class="nav-header">
                    <div class="dropdown profile-element">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
								<span class="clear">
									<span class="block m-t-xs">
										<strong class="font-bold">{{ app.user.firstName }} {{ app.user.lastName }}</strong>
									</span>
									<span class="block m-t-xs">
										{{ app.user.email }}
									</span>
									<span class="text-muted text-xs block">
                                        {% block userstatus %}
                                            {{ "Opties"|trans }}
                                        {% endblock %}
										<b class="caret"></b>
									</span>
								</span>
                        </a>
                        <ul class="dropdown-menu animated fadeInRight m-t-xs">
                            <li><a href="{{ path("change_password") }}">Wachtwoord wijzigen</a></li>
                            <li><a href="{{ path("company_create") }}">Nieuw restaurant aanmaken</a></li>
                            <li class="divider"></li>
                            <li><a href="{{ path("logout") }}">Logout</a></li>
                        </ul>
                    </div>
                    <div class="logo-element">
                        TNR
                    </div>
                </li>

                {% set on_admin_page = app.request.attributes.get('_route')|slice(0, 5) == "admin" %}

                {% if on_admin_page %}
                    {{ knp_menu_render('admin', {
                        'currentClass': 'active',
                        'ancestorClass': 'active'
                    }) }}
                {% else %}
                    {{ knp_menu_render(mainMenu, {
                        'currentClass': 'active',
                        'ancestorClass': 'active'
                    }) }}
                {% endif %}
            </ul>
        </div>
    </nav>

    <div id="page-wrapper" class="gray-bg">
        <div class="row border-bottom">
            <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                <div class="navbar-header">
                    <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
                </div>
                {% block extra_topbar %}

                {% endblock %}
                <ul class="nav navbar-top-links navbar-right">
                    {% if is_granted('ROLE_ADMIN') %}
                        <li>
                            <a href="{{ path('admin_company_list') }}">
                                <i class="fa fa-lock"></i> Admin
                            </a>
                        </li>
                    {% endif %}
                    {% if on_admin_page or app.user.companies.count > 1 %}
                        <li>
                            <a href="{{ path('company_select') }}">
                                <i class="fa fa-list"></i> Bedrijf
                            </a>
                        </li>
                    {% endif %}
                    <li>
                        <a href="{{ path('logout') }}">
                            <i class="fa fa-sign-out"></i> Log uit
                        </a>
                    </li>
                </ul>

            </nav>
        </div>

        <div class="row wrapper border-bottom white-bg page-heading">
            {% block titlebar %}
                <div class="col-lg-10">
                    {% block titlebar_header %}
                        <h2>
                            {% block breadcrumb_title %}
                                {{ block('title') }}
                            {% endblock %}
                        </h2>

                        {% block breadcrumb %}
                            <ol class="breadcrumb">
                                {% for breadcrumb_item in knp_menu_get_breadcrumbs_array(knp_menu_get_current_item(mainMenu)) %}
                                    {% if not loop.last %}
                                        <li><a href="{{ breadcrumb_item.uri }}">{{ breadcrumb_item.label }}</a></li>
                                    {% else %}
                                        <li><strong>{{ breadcrumb_item.label }}</strong></li>
                                    {% endif %}
                                {% endfor %}
                            </ol>
                        {% endblock %}
                    {% endblock %}
                </div>
                <div class="col-lg-2">
                </div>
            {% endblock %}
        </div>

        <div class="wrapper wrapper-content">
            {% block content %}
                CONTENT
            {% endblock %}
        </div>


        <div class="footer">
            {% block footer %}

            {% endblock %}
            <div>
                <strong>Copyright</strong> {{ site_name }} &copy; 2015-2016
            </div>
        </div>

    </div>
</div>
{% endblock %}