<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Nieuw document{% endblock %}{{ title_postfix }}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body {% block body_tags %} {% endblock %}>
        {% block body %}{% endblock %}

        {% block javascripts %}{% endblock %}
    </body>

    {% block after_body %}

    {% endblock %}
</html>
