{% extends '@TheNextCore/inc/base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/inspinia/css/animate.css') }}" />
    <link rel="stylesheet" href="{{ asset('assets/inspinia/css/plugins/toastr/toastr.min.css') }}" />

    <link rel="stylesheet" href="{{ asset('assets/datepicker/css/bootstrap-datepicker3.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('assets/inspinia/css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('assets/inspinia/css/style.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('assets/datepicker/css/bootstrap-datepicker.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('assets/font-awesome/css/font-awesome.min.css') }}" />

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&lang=en"/>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/inspinia/js/jquery-2.1.1.js') }}"></script>
    <script src="{{ asset('assets/inspinia/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('assets/datepicker/js/bootstrap-datepicker.min.js') }}"></script>
    <script src="{{ asset('assets/datepicker/locales/bootstrap-datepicker.nl.min.js') }}"></script>
    <script src="{{ asset('assets/inspinia/js/plugins/metisMenu/jquery.metisMenu.js') }}"></script>
    <script src="{{ asset('assets/inspinia/js/plugins/slimscroll/jquery.slimscroll.js') }}"></script>
    <script src="{{ asset('assets/inspinia/js/plugins/toastr/toastr.min.js') }}"></script>
    <script src="{{ asset('assets/inspinia/js/plugins/chartJs/Chart.min.js') }}"></script>
    <script src="{{ asset('assets/inspinia/js/inspinia.js') }}"></script>
{% endblock %}

{% block after_body %}
    <script>
        toastr.options = {
            closeButton: true,
            progressBar: false,
            showMethod: 'slideDown',
            timeOut: 4000
        };

        {% for flash_message in app.session.flashbag.get('notice') %}
        toastr.success("{{ flash_message|escape("js") }}");
        {% endfor %}

        {% for flash_message in app.session.flashbag.get('warning') %}
        toastr.warning("{{ flash_message|escape("js") }}");
        {% endfor %}

        {% for flash_message in app.session.flashbag.get('error') %}
        toastr.error("{{ flash_message|escape("js") }}");
        {% endfor %}
    </script>
{% endblock %}