{% extends '@TheNextCore/Admin/Base/list.html.twig' %}

{% block title %}
Restaurant lijst
{% endblock %}

{% block thead %}
    <th>Naam</th>
    <th>Adres</th>
    <th>Plaats</th>
    <th>Postcode</th>
    <th>Telefoon</th>
    <th>KVK nummer</th>
    <th>IBAN nummer</th>
{% endblock %}


{% block entity %}
    <td>{{ entity.name }}</td>
    <td>{{ entity.address }}</td>
    <td>{{ entity.city }}</td>
    <td>{{ entity.zipcode }}</td>
    <td>{{ entity.phoneNumber }}</td>
    <td>{{ entity.kvkNumber }}</td>
    <td>{{ entity.ibanNumber }}</td>
{% endblock %}