{% extends '@TheNextCore/Admin/Base/show.html.twig' %}

{% block rows %}
    <tr>
        <th>Naam</th>
        <td>{{ entity.name }}</td>
    </tr>
    <tr>
        <th>Adres</th>
        <td>{{ entity.address }}</td>
    </tr>
    <tr>
        <th>Plaats</th>
        <td>{{ entity.city }}</td>
    </tr>
    <tr>
        <th>Postcode</th>
        <td>{{ entity.zipcode }}</td>
    </tr>
    <tr>
        <th>Telefoonnummer</th>
        <td>{{ entity.phoneNumber }}</td>
    </tr>
    <tr>
        <th>KVK-nummer</th>
        <td>{{ entity.kvkNumber }}</td>
    </tr>
    <tr>
        <th>IBAN-nummer</th>
        <td>{{ entity.ibanNumber }}</td>
    </tr>
    <tr>
        <th>Pakket</th>
        <td>{{ entity.package is not empty ? entity.package.name : '?' }}</td>
    </tr>
    <tr>
        <th>Promocode</th>
        <td>
            {% if entity.promocode is not empty %}
                {{ entity.promocode.promocode.code }} (vanaf {{ entity.promocode.activatedOn.format('Y-m-d') }}: {{ entity.promocode.promocode.durationMonths }} maanden {{ entity.promocode.promocode.discountPercentage }}% korting)
            {% endif %}
        </td>
    </tr>
{% endblock %}

{% block record_actions %}
    <a href="{{ app_domain }}/#!/login_via_admin/{{ token }}" class="btn btn-primary">
        Inloggen op dit bedrijf
    </a>
{% endblock %}