{% extends '@TheNextCore/Admin/Base/list.html.twig' %}

{% block thead %}
    <th>Code</th>
    <th>Geldig tot</th>
    <th>Procent korting</th>
    <th>Maximum aantal keer te gebruiken</th>
    <th>Duur in maanden</th>
{% endblock %}

{% block entity %}
    <td>{{ entity.code }}</td>
    <td>{% if entity.expiresOn %}{{ entity.expiresOn|date('Y-m-d H:i:s') }}{% endif %}</td>
    <td>{{ entity.discountPercentage }}</td>
    <td>{{ entity.maxUses }}</td>
    <td>{{ entity.durationMonths }}</td>
{% endblock %}