{% extends '@TheNextCore/Admin/Base/show.html.twig' %}

{% block rows %}
    <tr>
        <th>Code</th>
        <td>{{ entity.code }}</td>
    </tr>
    <tr>
        <th>Geldig tot</th>
        <td>{{ entity.expiresOn|date('Y-m-d H:i:s') }}</td>
    </tr>
    <tr>
        <th>Percentage korting</th>
        <td>{{ entity.discountPercentage }}</td>
    </tr>
    <tr>
        <th>Maximaal aantal keer te gebruiken</th>
        <td>{{ entity.maxUses }}</td>
    </tr>
    <tr>
        <th>Duur in maanden</th>
        <td>{{ entity.durationMonths }}</td>
    </tr>
{% endblock %}