{% extends "@TheNextCore/mail/mailBase.html.twig" %}

{% block content %}
    <h1>
        {{ "core.mail.new_employee_title"|trans({ '%site_name%': site_name }) }}
    </h1>
    <p>
        {{ "core.mail.new_employee_greeting"|trans }} {{ user.firstName }} {{ user.lastName }},
    </p>
    <p>
        {{ "core.mail.new_employee_message"|trans({ '%name%': company.name }) }}
        <a href="{{ url("company_home", { "company_id": company.id }) }}">
            {{ "core.mail.go_to_dashboard"|trans }}
        </a>
    </p>
{% endblock %}