<html>
<head>
    <style>
        table {
            width: 100%;
            border: 1px solid #CCC;
            padding: 0;
            margin: 0;
            border-collapse: collapse;
        }

        tr {
            padding: 0;
            margin: 0;
        }

        tr:nth-child(even) {
            background-color: #EEE;
        }

        tr:nth-child(odd) {
            background-color: #FFF;
        }

        thead td {
            font-weight: 900;
            background: #EEE;
        }

        td {
            border: 0;
            padding: 8px;
            margin: 0;
        }

        td a {
            color: #000;
            text-decoration: none;
        }
    </style>
</head>
<body>
{% block content %}

{% endblock %}
</body>
</html>