{% extends "@TheNextCore/mail/mailBase.html.twig" %}

{% block content %}
    <h1>
        {{ "core.mail.welcome_to"|trans({ '%name%': site_name }) }}
    </h1>
    <p>
        {{ "core.mail.new_employee_greeting"|trans }} {{ user.firstName }} {{ user.lastName }},
    </p>
    <p>
        {{ "core.mail.must_set_password"|trans({ '%name%': site_name }) }}
    </p>
    <p>
        <a href="{{ url("activate", { activation_token: user.activationCode, user_id: user.id }) }}">
            {{ "core.mail.set_password"|trans }}
        </a>
    </p>
{% endblock %}