{% extends "@TheNextCore/mail/mailBase.html.twig" %}

{% block content %}
    <h1>
        {{ "core.mail.welcome_to"|trans({ '%name%': site_name }) }}
    </h1>
    <p>
        {{ "core.mail.new_employee_greeting"|trans }} {{ user.firstName }} {{ user.lastName }},
    </p>
    <p>
        {{ "core.mail.new_account_created"|trans({ '%name%': site_name }) }}
        <a href="{{ url("company_select") }}">
            {{ "core.mail.go_to_dashboard"|trans }}
        </a>
    </p>
{% endblock %}