{% extends "@TheNextCore/mail/mailBase.html.twig" %}

{% block content %}
    <h1>
        {{ "reset_password"|trans }}
    </h1>
    <p>
        {{ "core.mail.new_employee_greeting"|trans }} {{ user.firstName }} {{ user.lastName }},
    </p>
    <p>
        {{ "core.mail.reset_password"|trans }}
    </p>
    <p>
        <a href="{{ url("reset_password_finish", { activation_token: user.activationCode, user_id: user.id }) }}">
            {{ "reset_password"|trans }}
        </a>
    </p>
{% endblock %}