{% use "bootstrap_3_horizontal_layout.html.twig" %}

{%- block form_widget_compound -%}
    <div ref="demo" {{ block('widget_container_attributes') }}>
        {%- if form is rootform -%}
            {{ form_errors(form) }}
        {%- endif -%}
        {{- block('form_rows') -}}
        {{- form_rest(form) -}}
    </div>
{%- endblock form_widget_compound -%}


{%- block choice_widget_collapsed -%}
    {%- if required and placeholder is none and not placeholder_in_choices and not multiple and (attr.size is not defined or attr.size <= 1) -%}
        {% set required = false %}
    {%- endif -%}
    <select ref="demo" {{ block('widget_attributes') }}{% if multiple %} multiple="multiple"{% endif %}>
        {%- if placeholder is not none -%}
            <option value=""{% if required and value is empty %} selected="selected"{% endif %}>{{ placeholder != '' ? (translation_domain is same as(false) ? placeholder : placeholder|trans({}, translation_domain)) }}</option>
        {%- endif -%}
        {%- if preferred_choices|length > 0 -%}
            {% set options = preferred_choices %}
            {% set render_preferred_choices = true %}
            {{- block('choice_widget_options') -}}
            {%- if choices|length > 0 and separator is not none -%}
                <option disabled="disabled">{{ separator }}</option>
            {%- endif -%}
        {%- endif -%}
        {%- set options = choices -%}
        {%- set render_preferred_choices = false -%}
        {{- block('choice_widget_options') -}}
    </select>
{%- endblock choice_widget_collapsed -%}

{% block form_label_class -%}
    col-sm-3
{%- endblock form_label_class %}

{% block form_group_class -%}
    col-sm-9
{%- endblock form_group_class %}


{%- block submit_widget -%}
    {% set attr = attr|merge({class: (attr.class|default('btn-primary') ~ ' btn')|trim}) %}
    {{ parent() }}
{%- endblock submit_widget -%}

{% block choice_widget_expanded %}
    {% spaceless %}
        {% set btn_group = 'btn-group' in attr.class|default('') %}
        {% set label_attr = label_attr|merge({'class': (label_attr.class|default(''))}) %}
        {% set label_attr = label_attr|merge({'class': (label_attr.class ~ ' ' ~ (btn_group ? (multiple ? 'checkbox' : 'radio') ~ '-inline-btn btn btn-primary' : ''))}) %}
        {% if expanded %}
            {% set attr = attr|merge({'class': attr.class|default('')}) %}
        {% endif %}
        {% if btn_group %}
            <div {% for attrname, attrvalue in attr|merge({'class': 'btn-group ' ~ attr.class|default(''), 'data-toggle': 'buttons'}) %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
        {% endif %}
        {% for child in form %}
            {% if btn_group %}
                {% set child_label_attr = label_attr|default({})|merge({'class': 'btn ' ~ label_attr.class|default('')}) %}
                {% set child_label_attr = child_label_attr|merge({'class': child_label_attr.class ~ ' ' ~ child.vars.attr.class|default('')}) %}
            {% endif %}
            {% if child.vars.checked and btn_group %}
                {% set label_attr_copy = child_label_attr|default({})|merge({'class': 'active ' ~ child_label_attr.class|default('')}) %}
            {% else %}
                {% set label_attr_copy = child_label_attr|default({}) %}
            {% endif %}
            <label{% for attrname, attrvalue in label_attr_copy %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
            {{ form_widget(child, {'attr': {'class': attr.widget_class|default('') }}) }}
            {% if btn_group %}
                {{ child.vars.label|trans({}, translation_domain)|raw }}
            {% endif %}
            </label>
        {% endfor %}
        {% if btn_group %}
            </div>
        {% endif %}
    {% endspaceless %}
{% endblock choice_widget_expanded %}

{% block radio_widget -%}
    {%- set parent_label_class = parent_label_class|default(label_attr.class|default('')) -%}
    {% if 'btn-' in attr.class|default('') %}
        <input type="radio" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
    {% else %}
        {% if 'radio-inline' in parent_label_class %}
            {{- form_label(form, null, { widget: block('radio_widget_base') }) -}}
        {% else -%}
            <div class="radio">
                {{- form_label(form, null, { widget: block('radio_widget_base') }) -}}
            </div>
        {%- endif %}
    {% endif %}
{%- endblock radio_widget %}


{% block checkbox_widget -%}
    {%- set parent_label_class = parent_label_class|default(label_attr.class|default('')) -%}
    {% if 'checkbox-inline' in parent_label_class %}
        {{- form_label(form, null, { widget: block('checkbox_widget_base') }) -}}
    {% else -%}
        <div class="checkbox CBW">
            {{- form_label(form, null, { widget: block('checkbox_widget_base') }) -}}
        </div>
    {%- endif %}
{%- endblock checkbox_widget %}

{%- block radio_widget_base -%}
    <input type="radio" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
{%- endblock radio_widget_base -%}

{%- block checkbox_widget_base -%}
    <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
{%- endblock checkbox_widget_base -%}