{% use "@TheNextCore/Company/form/fields.html.twig" %}

{% block form_label %}

{% endblock %}

{% block form_label_class -%}

{%- endblock form_label_class %}

{% block form_group_class -%}

{%- endblock form_group_class %}

{% block widget_attributes %}
    {%- set attr = attr|merge({placeholder: (label|trans({}, translation_domain))|trim}) -%}
    {{- parent() -}}
{% endblock widget_attributes %}

{%- block submit_widget -%}
    {% set attr = attr|merge({class: (attr.class|default('btn-primary') ~ ' block full-width m-b')|trim}) %}
    {{ parent() }}
{%- endblock submit_widget -%}