{% extends '@TheNextCore/inc/base_dashboard.html.twig' %}

{% block content %}
    {% include '@TheNextCore/Company/packageList.html.twig' with { 'packages': packages } only %}
    <div class="ibox">
        <div class="ibox-title">
            <h5>{{ "company.subscription.activate"|trans }}</h5>
        </div>
        <div class="ibox-content">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}