{% extends '@TheNextCore/inc/base_mini.html.twig' %}

{% block title %}{{ "Dashboard"|trans }}{% endblock %}

{% block content %}
    <div class="ibox">
        <div class="ibox-title">
            <h5>{{ "Start"|trans }}</h5>
        </div>
        <div class="ibox-content">
            {% if companies|length > 0 %}
                <p>
                    {{ "company.choose"|trans }}:
                </p>

                <table class="table table-striped table-hover">
                    {% for company in companies %}
                        <tr>
                            <td class="clickable-row" data-href="{{ path('company_home', { company_id: company.id }) }}">
                                {{ company.name }}
                            </td>
                        </tr>
                    {% endfor %}
                </table>

            {% else %}
                <p>
                    {{ "Welkom bij"|trans }} {{ site_name }}! {{ "company.create.happy_message"|trans }}
                </p>
            {% endif %}

            <p>
                <a href="{{ path("company_create") }}" class="btn btn-primary">
                    {{ "company.create.new_company"|trans }}
                </a>
            </p>
        </div>
    </div>
{% endblock %}