{% extends '@TheNextCore/inc/base_dashboard.html.twig' %}

{% block title %}{{ "Dashboard"|trans }}{% endblock %}

{% block content %}
    <div class="ibox">
        <div class="ibox-title">
            <h5>{{ "company.create.success.title"|trans }}</h5>
        </div>
        <div class="ibox-content">
            {% include '@TheNextCore/Company/creationSuccessMessage.html.twig' %}

            <p>
                <a href="{{ path("company_home", { "company_id": company.id }) }}" class="btn btn-primary">
                    {{ "company.create.to_company"|trans }}
                </a>
            </p>
        </div>
    </div>
{% endblock %}