{% extends '@TheNextCore/inc/base_mini.html.twig' %}

{% block title %}
    {{ "company.create.title"|trans }}
{% endblock %}


{% block content_width %}640{% endblock %}

{% block content %}
    <div class="ibox">
        <div class="ibox-title">
            <h5>{{ "company.create.title"|trans }}</h5>
        </div>
        <div class="ibox-content" style="width:auto;">
            {{ form_start(form, { attr: { "class": "" }}) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}