{% extends '@TheNextCore/inc/base_dashboard.html.twig' %}

{% block content %}
    <div class="ibox">
        <div class="ibox-title">
            <h5>{{ "company.generalInfoTitle"|trans }}</h5>
            <div class="ibox-tools">
                <a class="collapse-link">
                    <i class="fa fa-chevron-up"></i>
                </a>
            </div>
        </div>
        <div class="ibox-content">
            <table class="table">
                <tr>
                    <td><strong>{{ "company.name"|trans }}</strong></td>
                    <td>{{ company.name }}</td>
                </tr>
                <tr>
                    <td><strong>{{ "company.address"|trans }}</strong></td>
                    <td>{{ company.address }}</td>
                </tr>
                <tr>
                    <td><strong>{{ "company.city"|trans }}</strong></td>
                    <td>{{ company.city }}</td>
                </tr>
                <tr>
                    <td><strong>{{ "company.kvk_number"|trans }}</strong></td>
                    <td>{{ company.kvkNumber }}</td>
                </tr>
                <tr>
                    <td><strong>{{ "company.iban_number"|trans }}</strong></td>
                    <td>{{ company.ibanNumber }}</td>
                </tr>
                <tr>
                    <td><strong>{{ "company.package"|trans }}</strong></td>
                    <td>{{ company.package != null ? company.package.name : "ERROR" }}</td>
                </tr>
            </table>
        </div>
    </div>

    {% include '@TheNextCore/Company/company_overview.html.twig' %}
{% endblock %}