<div class="ibox">
    <div class="ibox-title">
        <h5>{{ "package.packages"|trans }}</h5>
    </div>
    <div class="ibox-content">
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <td>&nbsp;</td>
                {% for package in packages %}
                    <td>
                        {{ package.name }}
                    </td>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% include '@TheNextCore/Company/packageInfo.html.twig' %}
            </tbody>
        </table>
    </div>
</div>