<tr>
    <td>
        {{ "package.price_per_month"|trans }}
    </td>
    {% for package in packages %}
        <td>
            &euro; {{ package.price / 100 }}
        </td>
    {% endfor %}
</tr>