{% extends '@TheNextCore/inc/base_dashboard.html.twig' %}

{% block content %}
    <div class="ibox">
        <div class="ibox-title">
            <h5>{{ "company.subscription.activate"|trans }}</h5>
        </div>
        <div class="ibox-content">
            <p>{{ "company.subscription.activate_ideal.description1"|trans }}</p>
            <p>{{ "company.subscription.activate_ideal.description2"|trans }}</p>

            {{ form(form) }}
        </div>
    </div>
{% endblock %}

