{% extends '@TheNextCore/inc/base_dashboard.html.twig' %}

{% block content %}
    <div class="ibox">
        <div class="ibox-title">
            <h5>
                {% if status == 'active' %}
                    {{ "company.subscription.success"|trans }}
                {% else %}
                    {{ "company.subscription.failure"|trans }}
                {% endif %}
            </h5>
        </div>
        <div class="ibox-content">
            <p>
                {% if status == 'active' %}
                    {{ "company.subscription.success_message"|trans }}
                {% else %}
                    {{ "company.subscription.failure_message"|trans }}
                {% endif %}
            </p>
            <p>
                <a href="{{ path("company_home", { company_id: company.id }) }}" class="btn btn-primary">
                    {{ "navigation.to_dashboard"|trans }}
                </a>
            </p>
        </div>
    </div>
{% endblock %}

