{% extends '@TheNextCore/inc/base_dashboard.html.twig' %}

{% block content %}
    <div class="ibox">
        <div class="ibox-title">
            <h5>{{ "package.need_upgrade"|trans({ '%name%': company.package.name }) }}</h5>
        </div>
        <div class="ibox-content">
            {% include '@TheNextCore/Company/upgradeNagMessage.html.twig' %}

            <a href="{{ path("company_upgrade", { company_id: company.id }) }}" class="btn btn-primary">
                {{ "package.do_upgrade"|trans }}
            </a>
        </div>
    </div>
{% endblock %}