{% extends '@TheNextCore/inc/base_dashboard.html.twig' %}

{% block content %}
    <div class="ibox">
        <div class="ibox-title">
            <h5>{{ "package.upgrade_title"|trans }}</h5>
        </div>
        <div class="ibox-content">
            <p>
                {{ "package.upgrade.description_current"|trans({ '%name%': company.package.name })|raw }}
            </p>
            <p>
                {{ "package.upgrade.description_last_change"|trans({ '%date%': company.packageSetOn.format('d M Y') })|raw }}
            </p>

            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
    </div>
    {% include '@TheNextCore/Company/packageList.html.twig' with { 'packages': packages } only %}
{% endblock %}