{% extends '@TheNextCore/Admin/Base/list.html.twig' %}

{% block thead %}
    <th>Naam</th>
    <th>Features</th>
    <th>Zichtbaar</th>
    <th>Prijs</th>
{% endblock %}

{% block entity %}
    <td>{{ entity.name }}</td>
    <td>{{ entity.features|join(", ") }}</td>
    <td>{{ entity.isVisible ? "Zichtbaar" : "Verborgen"  }}</td>
    <td>&euro;{{ (entity.price / 100)|number_format(2) }}</td>
{% endblock %}