{% extends '@TheNextCore/Admin/Base/show.html.twig' %}

{% block rows %}
    <tr>
        <th>Naam</th>
        <td>{{ entity.name }}</td>
    </tr>
    <tr>
        <th>Features:</th>
        <td>{{ entity.features|join(", ") }}</td>
    </tr>
    <tr>
        <th>Zichtbaar</th>
        <td>{{ entity.isVisible ? "Zichtbaar" : "Verborgen voor nieuwe klanten"}}</td>
    </tr>
    <tr>
        <th>Prijs</th>
        <td>&euro;{{ (entity.price / 100)|number_format(2) }}</td>
    </tr>
{% endblock %}