{% extends '@TheNextCore/inc/base_dashboard.html.twig' %}

{% block content %}
    <div class="ibox">
        <div class="ibox-title">
            <h5>Medewerker toevoegen</h5>
        </div>
        <div class="ibox-content">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
    </div>

    <div class="ibox">
        <div class="ibox-title">
            <h5>Huidige medewerkers</h5>
        </div>
        <div class="ibox-content">
            {% if employees is not empty %}
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <td>
                                {{ "employee.firstName"|trans }}
                            </td>
                            <td>
                                {{ "employee.lastName"|trans }}
                            </td>
                            <td>
                                {{ "employee.email"|trans }}
                            </td>
                            <td>
                                {{ "employee.manageRights"|trans }}
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for employee in employees %}
                            <tr class="clickable-row" data-href="{{ path("company_employee_edit", {
                                "company_id": employee.company.id,
                                "role_id": employee.id
                            }) }}">
                                <td>
                                    {{ employee.user.firstName }}
                                </td>
                                <td>
                                    {{ employee.user.lastName }}
                                </td>
                                <td>
                                    {{ employee.user.email }}
                                </td>
                                <td>
                                    {{ employee.manageAccess ? "Ja" : "Nee" }}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                {{ "employee.no_employees"|trans }}
            {% endif %}
        </div>
    </div>
{% endblock %}