{% extends '@TheNextCore/inc/base_dashboard.html.twig' %}

{% block content %}
    <div class="ibox">
        <div class="ibox-title">
            <h5>{{ 'medewerker'|trans }}</h5>
        </div>
        <div class="ibox-content">
            <p>
                <b>
                    {{ "employee.rights.edit"|trans({ '%name%': role.user.firstName ~ ' ' ~ role.user.lastName}) }}
                </b>
            </p>

            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}