{% extends '@TheNextCore/inc/base_dashboard.html.twig' %}

{% block content %}
    <div class="ibox">
        <div class="ibox-title">
            <h5>{% block ibox_title %}Overzicht{% endblock %}</h5>
        </div>
        <div class="ibox-content">
            {% if show_add is not defined or show_add %}
                <p>
                    <a href="{{ path(create_route) }}" class="btn btn-primary">{% block add_text %}Toevoegen{% endblock %}</a>
                </p>
            {% endif %}

            <table class="table table-hover table-striped table-bordered">
                <thead>
                <tr>
                    <td>
                        ID
                    </td>
                    {% block thead %}

                    {% endblock %}
                </tr>
                </thead>
                <tbody>
                    {% for entity in entities %}
                        <tr class="clickable-row {% block class %}{% endblock %}" data-href="{{ path(show_route, { 'id': entity.id }) }}">
                            <td>
                                <a href="{{ path(show_route, { 'id': entity.id }) }}">
                                    {{ entity.id }}
                                </a>
                            </td>
                            {% block entity %}{% endblock %}
                        </tr>

                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}