{% extends '@TheNextCore/inc/base_dashboard.html.twig' %}

{% block title %}
    Item bekijken
{% endblock %}

{% block content %}
    <div class="ibox">
        <div class="ibox-title">
            <strong>
                {{ block('title') }}
            </strong>
        </div>
        <div class="ibox-content">
            <table class="table table-striped">
                <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ entity.id }}</td>
                </tr>
                {% block rows %}

                {% endblock %}
                </tbody>
            </table>

            <div class="record_actions">
                <a href="{{ path(list_route) }}" class="btn btn-default">
                    Terug naar de lijst
                </a>
                <a href="{{ path(edit_route, { 'id': entity.id }) }}" class="btn btn-primary">
                    Bewerken
                </a>
                {% block record_actions %}

                {% endblock %}
            </div>

            {% block delete_form %}
                <p>{{ form(delete_form, { 'attr': {'class': 'form-inline'} }) }}</p>
            {% endblock %}
        </div>
    </div>
{% endblock %}
