{% extends '@TheNextCore/Admin/Base/list.html.twig' %}

{% block title %}
Accountlijst
{% endblock %}

{% block thead %}
    <th>Voornaam</th>
    <th>Achternaam</th>
    <th>IP</th>
    <th>E-mail</th>
    <th>Gemaakt op</th>
    <th>Laatste login</th>
{% endblock %}

{% block class %}
    {{ entity.isAdmin ? "success" : "" }}
{% endblock %}

{% block entity %}
    <td>{{ entity.firstName }}</td>
    <td>{{ entity.lastName }}</td>
    <td>{{ entity.ip }}</td>
    <td>{{ entity.email }}</td>
    <td>{% if entity.createdOn %}{{ entity.createdOn|date('Y-m-d H:i:s') }}{% endif %}</td>
    <td>{% if entity.lastLogin %}{{ entity.lastLogin|date('Y-m-d H:i:s') }}{% endif %}</td>
{% endblock %}