{% extends '@TheNextCore/Admin/Base/show.html.twig' %}

{% block title %}
Account bekijken
{% endblock %}

{% block rows %}
    <tr>
        <th>Voornaam</th>
        <td>{{ entity.firstName }}</td>
    </tr>
    <tr>
        <th>Achternaam</th>
        <td>{{ entity.lastName }}</td>
    </tr>
    <tr>
        <th>Is admin</th>
        <td>{{ entity.isAdmin ? "Ja" : "Nee" }}</td>
    </tr>
    <tr>
        <th>IP</th>
        <td>{{ entity.ip }}</td>
    </tr>
    <tr>
        <th>E-mail</th>
        <td>{{ entity.email }}</td>
    </tr>
    <tr>
        <th>Gemaakt op</th>
        <td>{{ entity.createdOn|date('Y-m-d H:i:s') }}</td>
    </tr>
    <tr>
        <th>Laatste login</th>
        <td>{{ entity.lastLogin|date('Y-m-d H:i:s') }}</td>
    </tr>
{% endblock %}

{% block record_actions %}
    <a href="{{ path('admin_user_companies', { id: entity.id }) }}" class="btn btn-primary">
        Restaurants van deze gebruiker
    </a>
    <a href="{{ path('admin_user_password_edit', { id: entity.id }) }}" class="btn btn-primary">
        Password bewerken
    </a>
{% endblock %}

{% block delete_form %}

{% endblock %}

{% block content %}
    {{ parent() }}
    {% if entity.ownedCompanies.count > 0 %}
        <div class="ibox">
            <div class="ibox-title">
                <strong style="color: #b00000;">
                    Waarschuwing
                </strong>
            </div>
            <div class="ibox-content">
                <p>
                    Deze gebruiker is eigenaar van een of meer restaurants. Bij het verwijderen van deze gebruiker worden ook de deze bedrijven verwijderd:
                </p>

                <ul>
                    {% for company in entity.ownedCompanies %}
                        <li>
                            <a href="{{ path("admin_company_show", { id: company.id }) }}">{{ company.name }}</a>
                        </li>
                    {% endfor %}
                </ul>

                <p>
                    Klik op bewerken en pas de eigenaar van bovenstaande restaurants aan voordat je dit account verwijderd om de restaurants te behouden.
                </p>

                <p>
                    {{ form(delete_form, { 'attr': {'class': 'form-inline'} }) }}
                </p>
            </div>
        </div>
    {% else %}
        <div class="ibox">
            <div class="ibox-title">
                <strong style="color: #b00000;">
                    Verwijderen
                </strong>
            </div>
            <div class="ibox-content">
                <p>
                    Deze gebruiker is geen eigenaar van een bedrijf. Er worden geen bedrijven verwijderd als dit account vewijderd wordt.
                </p>

                <p>
                    {{ form(delete_form, { 'attr': {'class': 'form-inline'} }) }}
                </p>
            </div>
        </div>
    {% endif %}
{% endblock %}